@* <link rel="stylesheet" href="~/css/Styles.css" type="text/css" media="all">  *@


<div class="row">
  <div class = "col-md-8">
      <ul class="nav nav-tabs" class="nav">
      <li role="presentation"><a href="/">Home</a></li>
      <li role="presentation"><a href="/treats">Treats</a></li>
      <li role="presentation"><a href='/treats/create'>Add New Treat</a></li>
      <li role="presentation"><a href='/flavors'>Flavors</a></li>
      <li role="presentation"><a href='/flavors/create'>Create A new flavor</a></li>
      <li role="presentation"><a href='/account/login'>Log In</a></li>
    </ul>
  </div>
</div>
    


